@use "node_modules/microtip/microtip.css";

#gmstats {
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* main */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */

    // ------------------------
    // bootstrap
    // ------------------------
    @import "../node_modules/bootstrap/scss/bootstrap";
    @import "../node_modules/bootstrap/scss/functions";
    @import "../node_modules/bootstrap/scss/variables";
    @import "../node_modules/bootstrap/scss/mixins";
    @import 'encode';

    // ------------------------
    // config
    // ------------------------

    // https://getbootstrap.com/docs/5.0/utilities/colors/
    // main data
    $gm_primary_font_color: whitesmoke;
    $gm_background: $gray-900;
    $gm_background_hover_row: rgb(44, 44, 44);
    $gm_background_hover_col: darken($gm_background,5%);
    $gm_table_border: $secondary;
    $gm_inactive_cells: $gray-600;

    // main colors
    $gm_c_black: black;
    $gm_c_bright_white: white;
    $gm_c_bright_black: grey;
    $gm_c_red: red;
    $gm_c_green: rgb(0, 255, 0);
    $gm_c_cyan: cyan;
    $gm_c_yellow: yellow;
    $gm_c_bright_yellow: rgb(255, 220, 65);
    $gm_c_dark_gold: rgb(65, 44, 7);
    $gm_c_light_steel_blue: rgb(175,175,255);
    $gm_c_teal: rgb(42, 151, 128);
    $gm_c_silver: silver;

    $gm_level: 	desaturate(rgb(255,135,0), 30%);

    // hp
    $gm_hp_overheal: $gm_c_cyan;
    $gm_hp_good: $gm_c_green;
    $gm_hp_hurt: $gm_c_yellow;
    $gm_hp_bad: $gm_c_red;
    $gm_hp_normal: $gm_c_bright_black;

    // money
    $gm_money_cp: rgb(230, 162, 99);
    $gm_money_sp: silver;
    $gm_money_gp: gold;
    $gm_money_ep: rgb(95, 201, 209);
    $gm_money_pp: rgb(98, 171, 255);

    // skills
    $gm_skill_high: rgb(175, 255, 182);
    $gm_skill_low: rgb(255, 175, 175);

    $cell_padding: 5;
    $cell_margin: 0;

    $font_smallest: $font-size-base * 0.5;
    $font_small: $font-size-base * 0.75;
    $font_normal: $font-size-base * 1.0;
    $font_big: $font-size-base * 1.25;
    $font_biggest: $font-size-base * 1.5;

    $btnzoomamt: .7;

    // assets
    $viewIconUrl: url(https://www.dndbeyond.com/content/1-0-1836-0/skins/waterdeep/images/icons/sheet-icon-dark.svg);
    $editIconUrl: url(https://www.dndbeyond.com/content/1-0-1836-0/skins/waterdeep/images/icons/menu_items/dark/builders.svg);

    // tooltips and hover highlights
    $tooltip-base-color: rgb(49, 108, 218);
    $tooltip-border-color: $tooltip-base-color;//lighten($gm_c_dark_gold, 10%);
    $tooltip-background-color: desaturate(darken($tooltip-base-color, 35%), 15%);//$gm_c_dark_gold;

    // active row
    $row_highlight_color: $gm_c_bright_yellow;
    $faded_border_color: rgba($row_highlight_color, 0.5);

    // ------------------------
    // start styles
    // ------------------------

    .table>tbody>tr>td, 
    .table>tbody>tr>th, 
    .table>tfoot>tr>td, 
    .table>tfoot>tr>th, 
    .table>thead>tr>td, 
    .table>thead>tr>th {
        padding: $cell_padding;
        margin: $cell_margin;
    }

    background-color: $gm_background;
    color: $gm_primary_font_color;
    line-height: 1.2;
    padding-bottom: 1rem;

    .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s linear, opacity 0.3s linear;
    }
    tr,td,th,div,span,hr {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3s linear,opacity 0.3s linear;
    }

    table {
        tr,td,th {
            background-color: $gm_background !important;
        }
        margin-bottom: 0;

        // -------------------
        // font sizes
        // &.font_smallest { font-size: $font_smallest; }
        // &.font_small { font-size: $font_small; }
        // &.font_normal { font-size: $font_normal; }
        // &.font_big { font-size: $font_big; }
        // &.font_biggest { font-size: $font_biggest; }

        @mixin progress-font-size($sizename, $orig_size, $progress_multi) {
            $curMulti: calc($orig_size / $font_normal);
            &.font_#{$sizename} {
                font-size: $orig_size;
                .progress-wrapper {
                    font-size: $orig_size * $progress_multi;
                }
                .btn {
                    font-size: $orig_size !important;
                    padding: 0.375rem * $progress_multi 0.75rem * $progress_multi;
                }

                .deficon,svg.deficon {
                    width: 14px * $curMulti;
                    height: 14px * $curMulti;
                    margin-top: -0.25rem;

                    &.white {
                        // https://stackoverflow.com/a/60167530
                        // https://codepen.io/sosuke/pen/Pjoqqp
                        filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(25%) hue-rotate(64deg) brightness(107%) contrast(105%);
                    }
                }
            }
        }

        $font_size_multi: 0.75;
        @include progress-font-size(smallest, $font_smallest, $font_size_multi);
        @include progress-font-size(small, $font_small, $font_size_multi);
        @include progress-font-size(normal, $font_normal, $font_size_multi);
        @include progress-font-size(big, $font_big, $font_size_multi);
        @include progress-font-size(biggest, $font_biggest, $font_size_multi);
        // end font sizes
        // -------------------

        // -------------------
        // sub tables
        &.stattable,&.detailstable {
            background-color: $gm_background;
            color: $gm_primary_font_color;
            padding: 0;
            margin: 0;

            tr, th, td {
                border: 0 !important;
            }
        }
        &.table {
            // th.col_stat, 
            td.col_details {
                padding: 0 !important;
                margin: 0 !important;
            }

            th.col_stat {
                .statscore,.bonus,.save {
                    color: $gm_c_bright_white;
                    span.letter {
                        color: $gm_c_bright_black;
                    }
                }
            }
        }

        // simply tells us what the primary table is
        &.primary {
            // width: 99.8%;
        }

        // a sub table of some sort
        &.secondary {}
        // end sub tables
        // -------------------

        // -------------------
        // stat column stuff
        &.stattable {
            th {
                color: $gm_c_bright_black;
                
                &.stat_types {
                    // position: relative;
                    // text-align: center;
                    // padding-bottom: 1em;
                }

                .statscore {color: $gm_primary_font_color;}

                .prof {color: $gm_c_cyan;}
            }
        }

        &.table, &.stattable {
            th, td {
                &.col_stat {
                    // padding: 0;
                    // margin: 0;

                    width: 0%;
                    text-align: right;

                    color: $gm_c_bright_black;
                    .high {color: $gm_c_bright_white;}
                    .low {color: $gm_c_red;}
                    .prof {color: $gm_c_cyan;}

                    .stat {             
                        color: $gm_c_bright_white;          
                        position: relative;
                    }
                    
                    .same {
                        color: darken($gm_c_bright_black, 15%) !important;
                        // &.high {color: darken($gm_c_bright_white,30%) !important;}
                        // &.low {color: darken($gm_c_bright_black,20%) !important;}
                    }

                    // &.col_titles {
                    //     padding-left: $cell_padding;
                    //     padding-right: $cell_padding;
                    // }
                    // span {
                    //     padding-left: $cell_padding;
                    //     padding-right: $cell_padding;
                    // }
                }

                &.stat_types {
                    text-align: left;
                }

                &.stat_title, .stat_title {
                    vertical-align: middle;
                    text-align: center;
                }

                &.stat_title, .stat_title {
                    font-size: 65%;
                }

                div.stat_title {
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }
            }
        }
        // end stat column stuff
        // -------------------
    
        &.table {
            color: $gm_primary_font_color;

            // override bootstrap stuff...
            // make sure no space between this table and the rest of the 
            // page content
            margin-bottom: 0;

            // monospace font for most formatting
            td,th {
                font-family: $font-family-monospace;
            }

            // let these be normal fonts to horizontal conserve space where possible
            tbody td, tfoot td {
                &.col_name .name, &.col_skills, &.col_languages {
                    font-family: $font-family-sans-serif !important;
                }
            }

            td,tr,th {
                &.hover_col {
                    background-color: $gm_background_hover_col;
                }
                &.hover_row {
                    // background-color: desaturate(darken($gm_c_bright_yellow, 55%), 50%);
                    td,th {
                        $border_color: desaturate(darken($gm_c_bright_yellow, 15%), 15%);
                        $border_settings: 1px dashed;
                        border-left: $border_settings $border_color;
                        border-right: $border_settings $border_color;
                        // border-color: $gm_c_red;

                        &.col_name {
                            .name {
                                color: $gm_c_bright_yellow;
                            }
                        }
                    }
                }
            }

            tbody tr {
                // character state in campaign; active, unassigned, deactivated
                &.active {
                    // currently unusued, just signifies that a character is active
                    // in the campaign
                }

                &.unassigned, &.deactivated {
                    color: $gm_inactive_cells !important;
                    td, td span {
                        color: $gm_inactive_cells !important;
                    }
                }

                // used for when a row is "expanded" to show details
                $border_thick: 2px;
                $border_slim: 1px;
                $border_color: $row_highlight_color;
                &.active_row {
                    border-bottom-width: $border_thick;
                    border-top-width: $border_thick;
                    border-color: $border_color;

                    .activetitle {
                        padding-right: 0.2em;
                        font-family: $font-family-monospace;
                        text-decoration: underline;
                    }

                    td {
                        &.col_name {
                            border-left-width: $border_slim;
                            border-right-width: $border_thick;
                            border-color: $border_color;

                            .name {
                                color: $row_highlight_color;
                            }

                            .profbonus {
                                display: inline-block;
                            }
                        }
                        &.col_skills {
                            border-right-width: $border_slim;
                            border-right-color: $border_color;

                            span {
                                &.noprof {
                                    display: inline !important;
                                    // position: relative;
                                    visibility: visible;
                                    opacity: 1;
                                    transition: display 0.3s linear,visibility 0.3s linear,opacity 0.3s linear;
                                }
                            }
                        }
                        &.col_languages {
                            border-right-width: $border_slim;
                            border-right-color: $border_color;
                        }
                    }

                    @mixin details-border($side, $color) {
                        tr,td,th,& {
                            border-#{$side}-width: 1px;
                            // border-#{$side}-color: $color;
                            border-#{$side}-style: dotted !important;
                        }                        
                    }
                    &.first_row {
                        tr,td,th,& {
                            @include details-border(bottom, $faded_border_color);
                        }
                    }
                    &.second_row {
                        tr,td,th,& {
                            @include details-border(top, $faded_border_color);
                        }
                    }
                }
                &.second_row {
                    .col_details {
                        border-right-width: $border_slim;
                        border-right-color: $border_color;
                    }
                }

                // when a row is hovered, and user goes over the name,
                // make it look clickable to toggle active_row
                // &.hover_row {
                td {
                    &.col_name {
                        cursor: pointer;
                        // XXX note we do hover, focus, active for touchscreens
                        // via https://stackoverflow.com/a/22560108
                        &:hover, &:active {
                            cursor: pointer;
                            .name {
                                color: $gm_c_black !important;
                                background-color: $gm_c_bright_yellow;
                            }
                        }
                    }
                }
                // }
            }

            hr {
                color: $gm_c_bright_black;
                border: none;
                height: 1px;
                padding: 0;
                margin: 0;
                margin-top: 0.35em;
                margin-bottom: 0.35em;
                font-style: normal;
                text-decoration: none;
                font-weight: normal;
            }

            .dropdown {
                color: $dark;
            }

            th {
                vertical-align: top;
                font-weight: normal;

                &.col_ac {
                    padding-left: 0.1rem;
                    padding-right: 0.1rem;
                    text-align: center;
                }
            }

            th,td {
                width: 0%;
                white-space: nowrap;

                border: 1px solid $gm_table_border;

                &.b_left {
                    border-left-style: double;
                    border-left-width: 4px;
                }
                &.b_right {
                    border-right-style: double;
                    border-right-width: 4px;
                }

                &.col_name {
                    position: relative;
                    white-space: nowrap;
                    width: auto;

                    $linkiconsize: 1em;

                    .links {
                        position: absolute;
                        right: 0;

                        .view::before { background-image: $viewIconUrl; }
                        .edit::before { background-image: $editIconUrl; }

                        .view, .edit {
                            font-family: $font-family-sans-serif !important;
                            color: $gm_c_cyan;
                            text-decoration: none;

                            &::before {
                                content: '';
                                height: $linkiconsize;
                                width: $linkiconsize;
                                display: inline-block;
                                background-size: cover;
                                margin-right: 3px;
                            }
                            &:hover::before, &:active::before {
                                // https://stackoverflow.com/a/60167530
                                // https://codepen.io/sosuke/pen/Pjoqqp
                                filter: brightness(0) saturate(100%) invert(90%) sepia(22%) saturate(2579%) hue-rotate(349deg) brightness(91%) contrast(94%);
                            }
                        }
                    }
                    
                    .name {
                        margin-left: 0;
                        padding: 0.2em 0.2em 0.2em 0.1em;
                        
                        position: relative;
                        left: -0.25em;

                        font-weight: bold;
                        text-decoration: underline;
                        font-style: italic;
                    }

                    .inspiration {
                        padding-right: $linkiconsize*1.5;
                    }

                    .exhaust {
                        color: $gm_c_bright_black;

                        span { 
                            color: $gm_c_red; 
                        }
                    }

                    .spellsavedc {
                        color: $gm_c_bright_black;

                        .lvl {
                            font-weight: bold;
                            color: $gm_level;
                        }

                        .dc {
                            font-weight: bold;
                            color: $gm_c_bright_white;
                        }
                    }

                    .profbonus {
                        display: none;
                    }
                }

                &.col_hp {
                    color: $gm_c_bright_black;

                    .overheal { color: $gm_hp_overheal; }
                    .good { color: $gm_hp_good; }
                    .hurt { color: $gm_hp_hurt; }
                    .bad { color: $gm_hp_bad; }
                    .normal { color: $gm_hp_normal; }

                    .fail, .save {font-weight: bold;}
                    .fail { color: $gm_c_red; }
                    .save { color: $gm_c_green; }
                    .stable { color: $gm_c_green; }
                }

                &.col_ac {
                    width: 0%;

                    .init {
                        font-family: $font-family-sans-serif !important;

                        position: relative;
                        // width: 1em;
                        // top: -0.25em;
                        // top: 2.7em;
                        // transform: rotate(-90deg);
                        // font-size: 65%;
                    }
                }

                &.col_speed {
                    color: $gm_c_bright_black;

                    span {
                        color: $gm_c_bright_white;
                    }
                }

                &.col_passives {
                    span {color: $gm_c_bright_yellow;}
                }

                &.col_money {
                    width: auto;
                    color: $gm_c_bright_black;
                    white-space: normal;
                    
                    .cp {color: $gm_money_cp;}
                    .sp {color: $gm_money_sp;}
                    .gp {color: $gm_money_gp;}
                    .ep {color: $gm_money_ep;}
                    .pp {color: $gm_money_pp;}

                    .total span, .gponly {
                        color: $gm_c_green;// $gm_money_gp;
                    }

                    .total, .ppc, .epc, .gpc, .spc, .cpc {
                        white-space: nowrap;
                    }
                }

                &.col_skills {
                    // font-family: $font-family-sans-serif;
                    width: auto;
                    white-space: normal;

                    .btn {
                        &.btn-outline-light {
                            color: $light !important;
                            zoom: $btnzoomamt;
                            &:hover, &:active {
                                color: color-contrast($light) !important;
                            }
                        }

                        &.halftoggle {
                            float: right;
                        }
                    }
                    
                    span {
                        white-space: normal;
                        span.value {
                            white-space: normal;
                            font-family: $font-family-monospace;
                        }

                        // modifier value
                        &.normal {
                            color: $gm_c_bright_black;
                            span.value {color: $gm_c_bright_black;}
                        }
                        &.high {
                            span.value {color: $gm_skill_high;}
                        }
                        &.low {
                            span.value {color: $gm_skill_low;}
                        }

                        // proficiency learned status
                        &.prof {
                            color: $gm_c_bright_white;
                        }
                        &.expert {
                            color: $gm_c_bright_yellow;
                        }
                        &.halfprof {
                            color: $gm_c_silver;
                        }
                        &.noprof {
                            color: $gm_c_bright_black;
                            display: none;
                            // position: absolute;
                            visibility: hidden;
                            opacity: 0;
                            transition: display 0.3s linear,visibility 0.3s linear,opacity 0.3s linear;
                        }
                        &.advdisadv {
                            display: inline !important;
                            // position: relative;
                            visibility: visible;
                            opacity: 1;
                            transition: display 0.3s linear,visibility 0.3s linear,opacity 0.3s linear;

                            &.adv {
                                text-decoration: underline;
                                text-decoration-color: $gm_c_green;
                            }
                            &.disadv {
                                text-decoration: underline;
                                text-decoration-color: $gm_c_red;
                            }
                        }
                        &.custom {
                            font-style: italic;
                        }

                        // add commas
                        &.c:not(:last-child):after {
                            color: $gm_c_bright_white !important;
                            content: ',';
                        }

                        // This is probably the better option but doesn't really seem to work :( 
                        // https://css-tricks.com/how-to-add-commas-between-a-list-of-items-dynamically-with-css/
                        // https://stackoverflow.com/questions/47308060/how-to-use-tilde-in-css-correctly-in-structure
                        // &.c ~ .c {
                        //     &:after {
                        //         color: $gm_c_bright_black !important;
                        //         content: ',';
                        //     }
                        // }

                    }

                    // more white-space settings below specifically for tbody td
                }

                &.col_languages {
                    width: auto;
                    white-space: normal;

                    .langset,.resset,.immset,.vulnset,.saveset {
                        vertical-align: top;
                        display: inline-block;
                        padding-right: 1em;

                        .item {
                            white-space: nowrap;

                            .type {
                                text-transform: capitalize;
                            }
                        }
                        .item_long {
                            white-space: normal;
                        }
                    }

                    .inactiveset {
                        display: none;
                    }
                }
            }

            td.col_skills span { white-space: nowrap; }

            tfoot {
                td {
                    &.col_name {
                        vertical-align: middle;
                        text-align: right;
                    }

                    &.gs-controls {
                        word-wrap: break-word;
                        white-space: normal;

                        .set {
                            word-wrap: nowrap;
                            white-space: nowrap;
                            vertical-align: top;
                        }

                        .auto_duration {
                            width: 5em;
                        }

                        .font_size {
                            width: 9em;
                        }

                        border-bottom-width: 0px;
                        padding-bottom: 0;

                        .update {
                            // position: relative;
                            float: left;
                        }

                        .autoupdateset {
                            float: right;
                        }
                    }

                    &.gs-bottom {
                        text-align: right;
                        padding-top: 0;
                        border-top-width: 0px;

                        .pbarwrap {
                            display: inline;
                            position: relative;
                            float: right;
                        }
                    }

                    .form-select, .form-control {                        
                        display: inline-block !important;
                        width: auto;
                        height: auto !important;
                        padding: 0 !important;
                    }

                    .btn, .form-select, .form-control, label {
                        zoom: $btnzoomamt;

                        @mixin btnFixes($btnType, $baseColor) {
                            &.btn-outline-#{$btnType} {
                                color: $baseColor !important;
                                &:hover, &:active {
                                    color: color-contrast($baseColor) !important;
                                }

                                &.active {
                                    // and while we're active, keep some state here too
                                    color: color-contrast($baseColor) !important;

                                    &:hover, &:active {
                                        $darker: desaturate(darken($baseColor, 30), 10);
                                        color: color-contrast($darker) !important;
                                        border-color: color-contrast($darker) !important;
                                        background-color: $darker;
                                    }
                                }
                            }
                        }
                        @include btnFixes('info', $info);
                        @include btnFixes('warning', $warning);
                    }
                }
            }
        }
    }

    // https://gist.github.com/WeiChiaChang/abe92ca2e8da86ef69560b63903e8764
    .progress-wrapper {
        margin-top: 0.5em;

        display: flex;
        align-items: center;
        align-content: center;
    
        .progress-bar {
            margin-left: 1em;
            width: 20em;
            padding: 2px;

            border-style: solid;
            border-radius: 3px;
            border-width: 1px;
            border-color: $tooltip-border-color;

            background-color: $tooltip-background-color !important;
            background-image: none !important;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
        }
        
        .progress-bar-fill {
            display: inline-block;

            height: 3px;
            border-radius: 3px;

            background-color: $row_highlight_color;
            
            transition: width 1000ms linear, transform 1000ms linear;
            transform-origin: left;
        }

        .text_progress {
            margin-left: 1em;

            .pct {
                margin-left: 1em;
            }
        }
    }

/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* customize microtip */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */

    // these svgs via /node_modules/microtip/microtip.css
    // Note: fill-color should be rgba
    @function svg-factory-top($fill-color) {
        @return '<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="' + $fill-color + '" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>';
    }
    @function svg-factory-bottom($fill-color) {
        @return '<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="' + $fill-color + '" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>';
    }
    @function svg-factory-left($fill-color) {
        @return '<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="' + $fill-color + '" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>';
    }
    @function svg-factory-right($fill-color) {
        @return '<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="' + $fill-color + '" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>';
    }

    @function get-background-svg($svg) {
        @return url("data:image/svg+xml;charset=utf-8," + svg-encode($svg)) no-repeat;
    }

    [aria-label][role~="tooltip"]::after {
        background: $tooltip-background-color;
        color: $gm_primary_font_color;

        border-color: $tooltip-border-color;
        border-width: 1px;
        border-style: solid;

        // make sure we don't have any parent text effects applied here...
        font-weight: normal !important;
        text-decoration: none !important;
        font-style: normal !important;
        font-family: $font-family-sans-serif !important;
    }

    // vary font-size depending on table setting
    @mixin tooltipFontSize($size) {
        [aria-label][role~="tooltip"]::after {
            font-size: $size;

            padding: $size*.375 $size*.75;
        }
    }
    table {
        &.font_smallest { @include tooltipFontSize($font_smallest); }
        &.font_small { @include tooltipFontSize($font_small); }
        &.font_normal { @include tooltipFontSize($font_normal); }
        &.font_big { @include tooltipFontSize($font_big); }
        &.font_biggest { @include tooltipFontSize($font_biggest); }
    }

    // [aria-label][role~="tooltip"] {
    //     padding-left: 0.2em;
    //     padding-right: 0.2em;
    // }
    [aria-label][role~="tooltip"]:hover {
        // cursor: crosshair;
        background-color: $tooltip-background-color;//$gm_c_dark_gold;
        // border-style: solid;
        // border-radius: 4px;
        // border-width: 1px;
        // border-color: $tooltip-border-color;//lighten($gm_c_dark_gold, 10%);
    }
    // background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%28255%2C%20255%2C%20255%2C%201%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658%2C0.000%20C-13.615%2C0.000%2050.938%2C0.000%2034.662%2C0.000%20C28.662%2C0.000%2023.035%2C12.002%2018.660%2C12.002%20C14.285%2C12.002%208.594%2C0.000%202.658%2C0.000%20Z%22%2F%3E%3C%2Fsvg%3E") no-repeat;

    [role~="tooltip"][data-microtip-position|="top"]::before {
        background: get-background-svg(svg-factory-top($tooltip-border-color));
    }
    [role~="tooltip"][data-microtip-position|="bottom"]::before {
        background: get-background-svg(svg-factory-bottom($tooltip-border-color));
    }
    [role~="tooltip"][data-microtip-position="left"]::before {
        background: get-background-svg(svg-factory-left($tooltip-border-color));
    }
    [role~="tooltip"][data-microtip-position="right"]::before {
        background: get-background-svg(svg-factory-right($tooltip-border-color));
    }
}

// overrides for the site itself to reduce some of the damned glare
#site-main.gm-dark-mode,.gm-dark-mode {
    $fontcolor: whitesmoke;
    $bgcolor: #212529;

    background-color: $bgcolor;

    h1,
    .ddb-campaigns-detail-header-secondary-description p,
    .ddb-campaigns-detail-body-listing-header-primary,
    .ddb-campaigns-detail-body-listing-header-secondary,
    #content
    {
        color: $fontcolor !important;
    }

    .b-breadcrumb-a {
        background-color: lighten($bgcolor, 5) !important;
        .b-breadcrumb-item span {
            color: $fontcolor;
        }
    }
}

// hide scrollbar but allow scrolling
body.gm-no-scroll,.gm-no-scroll,html.gm-no-scroll {
    // overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;

        // safari
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}