/* --- tooltipster --- */
@use 'node_modules/tooltipster/dist/css/tooltipster.bundle.min.css';

// global font sizes
$fbase: 1;//$font-size-base;
$font_smallest: $fbase * 0.5;
$font_small: $fbase * 0.75;
$font_normal: $fbase * 1.0;
$font_big: $fbase * 1.25;
$font_biggest: $fbase * 1.5;

// main colors
$gm_primary_font_color: whitesmoke;
$gm_c_black: black;
$gm_c_bright_white: white;
$gm_c_bright_black: grey;
$gm_c_red: red;
$gm_c_green: rgb(0, 255, 0);
$gm_c_cyan: cyan;
$gm_c_yellow: yellow;
$gm_c_bright_yellow: rgb(255, 220, 65);
$gm_c_dark_gold: rgb(65, 44, 7);
$gm_c_light_steel_blue: rgb(175,175,255);
$gm_c_teal: rgb(42, 151, 128);
$gm_c_silver: silver;

$gm_level: 	desaturate(rgb(255,135,0), 30%);

$gm_adv: $gm_c_green;
$gm_disadv: $gm_c_red;

// tooltips and hover highlights
$tooltip-primary-color: $gm_primary_font_color; 
$tooltip-base-color: rgb(49, 108, 218);
$tooltip-border-color: lighten(desaturate($tooltip-base-color, 15), 15);//desaturate(darken($tooltip-base-color, 35%), 15%);//$gm_c_dark_gold;
$tooltip-background-color: darken(desaturate($tooltip-base-color, 20), 40);//lighten($gm_c_dark_gold, 10%);
$tooltip-source-highlight-bg-color: darken(desaturate($tooltip-base-color, 10), 5);

#gmstats {
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* main */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------------------------------------------- */

    // ------------------------
    // bootstrap et al
    // ------------------------
    @import "../node_modules/bootstrap/scss/bootstrap";
    @import "../node_modules/bootstrap/scss/functions";
    @import "../node_modules/bootstrap/scss/variables";
    @import "../node_modules/bootstrap/scss/mixins";
    @import 'encode';

    // ------------------------
    // config
    // ------------------------

    // https://getbootstrap.com/docs/5.0/utilities/colors/
    // main data
    $gm_background: $gray-900;
    $gm_background_hover_row: rgb(44, 44, 44);
    $gm_background_hover_col: darken($gm_background,5%);
    $gm_table_border: $secondary;
    $gm_inactive_cells: $gray-600;

    // hp
    $gm_hp_overheal: $gm_c_cyan;
    $gm_hp_good: $gm_c_green;
    $gm_hp_hurt: $gm_c_yellow;
    $gm_hp_bad: $gm_c_red;
    $gm_hp_normal: $gm_c_bright_black;

    // money
    $gm_money_cp: rgb(230, 162, 99);
    $gm_money_sp: silver;
    $gm_money_gp: gold;
    $gm_money_ep: rgb(95, 201, 209);
    $gm_money_pp: rgb(98, 171, 255);

    // skills
    $gm_skill_high: rgb(175, 255, 182);
    $gm_skill_low: rgb(255, 175, 175);

    $cell_padding: 5;
    $cell_margin: 0;

    $btnzoomamt: .7;

    // assets
    $viewIconUrl: url(https://www.dndbeyond.com/content/1-0-1836-0/skins/waterdeep/images/icons/sheet-icon-dark.svg);
    $editIconUrl: url(https://www.dndbeyond.com/content/1-0-1836-0/skins/waterdeep/images/icons/menu_items/dark/builders.svg);

    // active row
    $row_highlight_color: $gm_c_bright_yellow;
    $faded_border_color: rgba($row_highlight_color, 0.5);

    // ------------------------
    // start styles
    // ------------------------

    .table>tbody>tr>td, 
    .table>tbody>tr>th, 
    .table>tfoot>tr>td, 
    .table>tfoot>tr>th, 
    .table>thead>tr>td, 
    .table>thead>tr>th {
        padding: $cell_padding;
        margin: $cell_margin;
    }

    background-color: $gm_background;
    color: $gm_primary_font_color;
    line-height: 1.2;
    padding-bottom: 1rem;

    .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s linear, opacity 0.3s linear;
    }
    tr,td,th,div,span,hr {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3s linear,opacity 0.3s linear;
    }

    table {
        border-spacing: 0; 
        @-moz-document url-prefix() { // FF only
            border-collapse: initial;
        }
        
        tr,td,th {
            background-color: $gm_background !important;
        }
        margin-bottom: 0;

        // -------------------
        // font sizes
        // &.font_smallest { font-size: $font_smallest; }
        // &.font_small { font-size: $font_small; }
        // &.font_normal { font-size: $font_normal; }
        // &.font_big { font-size: $font_big; }
        // &.font_biggest { font-size: $font_biggest; }

        @mixin progress-font-size($sizename, $orig_size, $progress_multi) {
            $curMulti: calc($orig_size / $font_normal);
            &.font_#{$sizename} {
                font-size: #{$orig_size}rem;
                .progress-wrapper {
                    font-size: #{$orig_size * $progress_multi}rem;
                }
                .btn {
                    font-size: #{$orig_size}rem !important;
                    padding: 0.375rem * $progress_multi 0.75rem * $progress_multi;
                }

                .deficon,svg.deficon {
                    width: 14px * $curMulti;
                    height: 14px * $curMulti;
                    margin-top: -0.25rem;

                    &.white {
                        // https://stackoverflow.com/a/60167530
                        // https://codepen.io/sosuke/pen/Pjoqqp
                        filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(25%) hue-rotate(64deg) brightness(107%) contrast(105%);
                    }
                }
            }
        }

        $font_size_multi: 0.75;
        @include progress-font-size(smallest, $font_smallest, $font_size_multi);
        @include progress-font-size(small, $font_small, $font_size_multi);
        @include progress-font-size(normal, $font_normal, $font_size_multi);
        @include progress-font-size(big, $font_big, $font_size_multi);
        @include progress-font-size(biggest, $font_biggest, $font_size_multi);
        // end font sizes
        // -------------------

        // -------------------
        // sub tables
        &.stattable,&.detailstable {
            background-color: $gm_background;
            color: $gm_primary_font_color;
            padding: 0;
            margin: 0;

            tr, th, td {
                border: 0 !important;
            }
        }
        &.table {
            // th.col_stat, 
            td.col_details {
                padding: 0 !important;
                margin: 0 !important;
            }

            th.col_stat {
                .statscore,.bonus,.save {
                    color: $gm_c_bright_white;
                    span.letter {
                        color: $gm_c_bright_black;
                    }
                }
            }
        }

        // simply tells us what the primary table is
        &.primary {
            // width: 99.8%;
        }

        // a sub table of some sort
        &.secondary {}
        // end sub tables
        // -------------------

        // -------------------
        // stat column stuff
        &.stattable {
            th {
                color: $gm_c_bright_black;
                
                &.stat_types {
                    // position: relative;
                    // text-align: center;
                    // padding-bottom: 1em;
                }

                .statscore {color: $gm_primary_font_color;}

                .prof {color: $gm_c_cyan;}
            }
        }

        &.table, &.stattable {
            th, td {
                &.col_stat {
                    // padding: 0;
                    // margin: 0;

                    width: 0%;
                    text-align: right;

                    color: $gm_c_bright_black;
                    .high {color: $gm_c_bright_white;}
                    .low {color: $gm_c_red;}
                    .prof {color: $gm_c_cyan;}

                    .stat {             
                        color: $gm_c_bright_white;          
                        position: relative;
                    }
                    
                    .same {
                        color: darken($gm_c_bright_black, 15%) !important;
                        // &.high {color: darken($gm_c_bright_white,30%) !important;}
                        // &.low {color: darken($gm_c_bright_black,20%) !important;}
                    }

                    // &.col_titles {
                    //     padding-left: $cell_padding;
                    //     padding-right: $cell_padding;
                    // }
                    // span {
                    //     padding-left: $cell_padding;
                    //     padding-right: $cell_padding;
                    // }
                }

                &.stat_types {
                    text-align: left;
                }

                &.stat_title, .stat_title {
                    vertical-align: middle;
                    text-align: center;
                }

                &.stat_title, .stat_title {
                    font-size: 65%;
                }

                div.stat_title {
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }
            }
        }
        // end stat column stuff
        // -------------------
    
        &.table {
            color: $gm_primary_font_color;

            // override bootstrap stuff...
            // make sure no space between this table and the rest of the 
            // page content
            margin-bottom: 0;

            // monospace font for most formatting
            td,th {
                font-family: $font-family-monospace;
            }

            // let these be normal fonts to horizontal conserve space where possible
            tbody td, tfoot td {
                &.col_name .name, &.col_skills, &.col_languages, &.col_jump {
                    font-family: $font-family-sans-serif !important;
                }
            }

            td,tr,th {
                &.hover_col {
                    background-color: $gm_background_hover_col;
                }
                &.hover_row {
                    // background-color: desaturate(darken($gm_c_bright_yellow, 55%), 50%);
                    td,th {
                        $border_color: desaturate(darken($gm_c_bright_yellow, 15%), 15%);
                        $border_settings: 1px dashed;
                        border-left: $border_settings $border_color;
                        border-right: $border_settings $border_color;
                        // border-color: $gm_c_red;

                        &.col_name {
                            .name {
                                color: $gm_c_bright_yellow;
                            }
                        }
                    }
                }
            }

            tbody tr {
                // character state in campaign; active, unassigned, deactivated
                &.active {
                    // currently unusued, just signifies that a character is active
                    // in the campaign
                }

                &.unassigned, &.deactivated {
                    color: $gm_inactive_cells !important;
                    td, td span {
                        color: $gm_inactive_cells !important;
                    }
                }

                // used for when a row is "expanded" to show details
                $border_thick: 2px;
                $border_slim: 1px;
                $border_color: $row_highlight_color;
                &.active_row {
                    border-bottom-width: $border_thick;
                    border-top-width: $border_thick;
                    border-color: $border_color;

                    .activetitle {
                        padding-right: 0.2em;
                        font-family: $font-family-monospace;
                        text-decoration: underline;
                    }

                    td {
                        &.col_name {
                            border-left-width: $border_slim;
                            border-right-width: $border_thick;
                            border-color: $border_color;

                            .name {
                                color: $row_highlight_color;
                            }

                            .profbonus {
                                display: inline-block;
                            }
                        }
                        &.col_skills {
                            border-right-width: $border_slim;
                            border-right-color: $border_color;

                            span {
                                &.noprof {
                                    display: inline !important;
                                    // position: relative;
                                    visibility: visible;
                                    opacity: 1;
                                    transition: display 0.3s linear,visibility 0.3s linear,opacity 0.3s linear;
                                }
                            }
                        }
                        &.col_languages {
                            border-right-width: $border_slim;
                            border-right-color: $border_color;
                        }
                    }

                    @mixin details-border($side, $color) {
                        tr,td,th,& {
                            border-#{$side}-width: 1px;
                            // border-#{$side}-color: $color;
                            border-#{$side}-style: dotted;
                        }                        
                    }
                    &.first_row {
                        tr,td,th,& {
                            @include details-border(bottom, $faded_border_color);

                            &.col_name {
                                border-top-style: solid;
                                border-bottom-style: solid;
                            }
                        }
                        td {
                            border-top-width: $border_thick;
                            border-top-color: $row_highlight_color;

                            &.col_name {
                                border-bottom-width: $border_thick;
                                border-bottom-color: $row_highlight_color;
                            }
                        }
                    }
                    &.second_row {
                        tr,td,th,& {
                            @include details-border(top, $faded_border_color);

                            &.col_name {
                                border-top-style: solid;
                                border-bottom-style: solid;
                            }
                        }
                        td {
                            border-bottom-width: $border_thick;
                            border-bottom-color: $row_highlight_color;
                        }
                    }
                }
                &.second_row {
                    .col_details {
                        border-right-width: $border_slim;
                        border-right-color: $border_color;
                    }
                }

                // when a row is hovered, and user goes over the name,
                // make it look clickable to toggle active_row
                // &.hover_row {
                td {
                    &.col_name {
                        cursor: pointer;
                        // XXX note we do hover, focus, active for touchscreens
                        // via https://stackoverflow.com/a/22560108
                        &:hover, &:active {
                            cursor: pointer;
                            .name {
                                color: $gm_c_black !important;
                                background-color: $gm_c_bright_yellow;
                            }
                        }
                    }
                }
                // }
            }

            hr {
                color: $gm_c_bright_black;
                border: none;
                height: 1px;
                padding: 0;
                margin: 0;
                margin-top: 0.35em;
                margin-bottom: 0.35em;
                font-style: normal;
                text-decoration: none;
                font-weight: normal;
            }

            .dropdown {
                color: $dark;
            }

            th {
                vertical-align: top;
                font-weight: normal;

                &.col_ac {
                    padding-left: 0.1rem;
                    padding-right: 0.1rem;
                    text-align: center;
                }
            }

            th,td {
                width: 0%;
                white-space: nowrap;

                border: 1px solid $gm_table_border;

                &.b_left {
                    border-left-style: double;
                    border-left-width: 4px;
                }
                &.b_right {
                    border-right-style: double;
                    border-right-width: 4px;
                }

                &.col_name {
                    position: relative;
                    white-space: nowrap;
                    width: auto;

                    $linkiconsize: 1em;

                    .links {
                        position: absolute;
                        right: 0;

                        .view::before { background-image: $viewIconUrl; }
                        .edit::before { background-image: $editIconUrl; }

                        .view, .edit {
                            font-family: $font-family-sans-serif !important;
                            color: $gm_c_cyan;
                            text-decoration: none;

                            &::before {
                                content: '';
                                height: $linkiconsize;
                                width: $linkiconsize;
                                display: inline-block;
                                background-size: cover;
                                margin-right: 3px;
                            }
                            &:hover::before, &:active::before {
                                // https://stackoverflow.com/a/60167530
                                // https://codepen.io/sosuke/pen/Pjoqqp
                                filter: brightness(0) saturate(100%) invert(90%) sepia(22%) saturate(2579%) hue-rotate(349deg) brightness(91%) contrast(94%);
                            }
                        }
                    }
                    
                    .name {
                        margin-left: 0;
                        padding: 0.2em 0.2em 0.2em 0.1em;
                        
                        position: relative;
                        left: -0.25em;

                        font-weight: bold;
                        text-decoration: underline;
                        font-style: italic;
                    }

                    .inspiration {
                        padding-right: $linkiconsize*1.5;
                    }

                    .exhaust {
                        color: $gm_c_bright_black;

                        span { 
                            color: $gm_c_red; 
                        }
                    }

                    .spellsavedc {
                        color: $gm_c_bright_black;

                        .lvl {
                            font-weight: bold;
                            color: $gm_level;
                        }

                        .dc {
                            font-weight: bold;
                            color: $gm_c_bright_white;
                        }
                    }

                    .profbonus {
                        display: none;
                    }
                }

                &.col_hp {
                    color: $gm_c_bright_black;

                    .overheal { color: $gm_hp_overheal; }
                    .good { color: $gm_hp_good; }
                    .hurt { color: $gm_hp_hurt; }
                    .bad { color: $gm_hp_bad; }
                    .normal { color: $gm_hp_normal; }

                    .fail, .save {font-weight: bold;}
                    .fail { color: $gm_c_red; }
                    .save { color: $gm_c_green; }
                    .stable { color: $gm_c_green; }
                }

                &.col_ac {
                    width: 0%;

                    .init {
                        font-family: $font-family-sans-serif !important;

                        position: relative;
                        // width: 1em;
                        // top: -0.25em;
                        // top: 2.7em;
                        // transform: rotate(-90deg);
                        // font-size: 65%;
                    }
                }

                &.col_speed {
                    color: $gm_c_bright_black;

                    span {
                        color: $gm_c_bright_white;
                    }
                }

                &.col_passives {
                    span {color: $gm_c_bright_yellow;}
                }

                &.col_money {
                    width: auto;
                    color: $gm_c_bright_black;
                    white-space: normal;
                    
                    .cp {color: $gm_money_cp;}
                    .sp {color: $gm_money_sp;}
                    .gp {color: $gm_money_gp;}
                    .ep {color: $gm_money_ep;}
                    .pp {color: $gm_money_pp;}

                    .total span, .gponly {
                        color: $gm_c_green;// $gm_money_gp;
                    }

                    .total, .ppc, .epc, .gpc, .spc, .cpc {
                        white-space: nowrap;
                    }
                }

                &.col_skills {
                    // font-family: $font-family-sans-serif;
                    width: auto;
                    white-space: normal;

                    .btn {
                        &.btn-outline-light {
                            color: $light !important;
                            zoom: $btnzoomamt;
                            &:hover, &:active {
                                color: color-contrast($light) !important;
                            }
                        }

                        &.halftoggle {
                            float: right;
                        }
                    }
                    
                    span {
                        white-space: normal;
                        span.value {
                            white-space: normal;
                            font-family: $font-family-monospace;
                        }

                        // modifier value
                        &.normal {
                            color: $gm_c_bright_black;
                            span.value {color: $gm_c_bright_black;}
                        }
                        &.high {
                            span.value {color: $gm_skill_high;}
                        }
                        &.low {
                            span.value {color: $gm_skill_low;}
                        }

                        // proficiency learned status
                        &.prof {
                            color: $gm_c_bright_white;
                        }
                        &.expert {
                            color: $gm_c_bright_yellow;
                        }
                        &.halfprof {
                            color: $gm_c_silver;
                        }
                        &.noprof {
                            color: $gm_c_bright_black;
                            display: none;
                            // position: absolute;
                            visibility: hidden;
                            opacity: 0;
                            transition: display 0.3s linear,visibility 0.3s linear,opacity 0.3s linear;
                        }
                        &.advdisadv {
                            display: inline !important;
                            // position: relative;
                            visibility: visible;
                            opacity: 1;
                            transition: display 0.3s linear,visibility 0.3s linear,opacity 0.3s linear;

                            &.adv {
                                text-decoration: underline;
                                text-decoration-color: $gm_adv;
                            }
                            &.disadv {
                                text-decoration: underline;
                                text-decoration-color: $gm_disadv;
                            }
                        }
                        &.custom {
                            font-style: italic;
                        }

                        // add commas
                        &.c:not(:last-child):after {
                            color: $gm_c_bright_white !important;
                            content: ',';
                        }

                        // This is probably the better option but doesn't really seem to work :( 
                        // https://css-tricks.com/how-to-add-commas-between-a-list-of-items-dynamically-with-css/
                        // https://stackoverflow.com/questions/47308060/how-to-use-tilde-in-css-correctly-in-structure
                        // &.c ~ .c {
                        //     &:after {
                        //         color: $gm_c_bright_black !important;
                        //         content: ',';
                        //     }
                        // }

                    }

                    // more white-space settings below specifically for tbody td
                }

                &.col_languages {
                    width: auto;
                    white-space: normal;

                    .langset,.resset,.immset,.vulnset,.saveset {
                        vertical-align: top;
                        display: inline-block;
                        // padding-right: 1em;

                        .item {
                            white-space: nowrap;

                            .type {
                                text-transform: capitalize;
                            }
                        }
                        .item_long {
                            margin-right: 0.5em;
                            white-space: normal;
                        }
                        .code {
                            font-family: $font-family-monospace;
                        }
                    }

                    .inactiveset {
                        display: none;
                    }
                }

                &.col_jump {
                    width: auto;
                    white-space: normal;
                }
            }

            td.col_skills span { white-space: nowrap; }

            tfoot {
                td {
                    &.col_name {
                        vertical-align: middle;
                        text-align: right;
                    }

                    &.gs-controls {
                        word-wrap: break-word;
                        white-space: normal;

                        .set {
                            word-wrap: nowrap;
                            white-space: nowrap;
                            vertical-align: top;
                        }

                        .auto_duration {
                            width: 5em;
                        }

                        .font_size {
                            width: 9em;
                        }

                        border-bottom-width: 0px;
                        padding-bottom: 0;

                        .update {
                            // position: relative;
                            float: left;
                        }

                        .autoupdateset {
                            float: right;
                        }
                    }

                    &.gs-bottom {
                        text-align: right;
                        padding-top: 0;
                        border-top-width: 0px;

                        .pbarwrap {
                            display: inline;
                            position: relative;
                            float: right;
                        }
                    }

                    .form-select, .form-control {                        
                        display: inline-block !important;
                        width: auto;
                        height: auto !important;
                        padding: 0 !important;
                    }

                    .btn, .form-select, .form-control, label {
                        zoom: $btnzoomamt;

                        @mixin btnFixes($btnType, $baseColor) {
                            &.btn-outline-#{$btnType} {
                                color: $baseColor !important;
                                &:hover, &:active {
                                    color: color-contrast($baseColor) !important;
                                }

                                &.active {
                                    // and while we're active, keep some state here too
                                    color: color-contrast($baseColor) !important;

                                    &:hover, &:active {
                                        $darker: desaturate(darken($baseColor, 30), 10);
                                        color: color-contrast($darker) !important;
                                        border-color: color-contrast($darker) !important;
                                        background-color: $darker;
                                    }
                                }
                            }
                        }
                        @include btnFixes('info', $info);
                        @include btnFixes('warning', $warning);
                    }
                }
            }
        }
    }

    // customizeable panels
    $panel_behind_bg: $gm_background;
    $panel_bg: lighten($gm_background, 10);
    $panel_border: lighten($panel_bg, 20);

    $panel_border_radius: 4px;

    $panel_topbot_padding: 0.2em;
    $panel_leftright_padding: 0.3em;
    $panel_lineheight: 2em;

    .panelblock {
        padding: 0em;
        margin: 0em;
        margin-left: .5em;
        margin-right: .5em;

        line-height: $panel_lineheight;

        position: relative;
        white-space: nowrap;

        .value {
            .num, .units {
                font-family: $font-family-monospace;
            }
            .num {
                // margin-right: 0.25em;
            }
            .units {
                // vertical-align: sub;
                font-size: 75%;
            }
        }

        > .title, > .body {
            // padding: 0.15em 0.3em;
        }

        @mixin panel_base_look($bg_color, $border-radius-side, $border-remove-side) {
            background-color: $bg_color;
            border: 1px solid $panel_border;
            border-#{$border-remove-side}-width: 0;
            -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
            box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
            border-top-#{$border-radius-side}-radius: $panel_border_radius;
            border-bottom-#{$border-radius-side}-radius: $panel_border_radius;
        }

        > .title {
            color: $gm_c_silver;

            @include panel_base_look($panel_bg, left, right);

            padding: $panel_topbot_padding $panel_leftright_padding;
            // padding-left: $panel_leftright_padding;
            // padding-top: $panel_topbot_padding;
            // padding-bottom: $panel_topbot_padding;
            // padding-right: $panel_leftright_padding;

            &::after {
                content: ' '; // dirty hack to get the title/body 'boxes' to link together
            }
        }

        > .body {
            @include panel_base_look($panel_behind_bg, right, left);

            padding: $panel_topbot_padding $panel_leftright_padding;

            .group {
                > .title {
                    color: $gm_c_bright_black;
                    // text-decoration: underline;
                    font-variant: small-caps;
                    // &::after { content: ":"; }
                }
                > .body {

                }
            }
        }
    }

    // https://gist.github.com/WeiChiaChang/abe92ca2e8da86ef69560b63903e8764
    .progress-wrapper {
        margin-top: 0.5em;

        display: flex;
        align-items: center;
        align-content: center;
    
        .progress-bar {
            margin-left: 1em;
            width: 20em;
            padding: 2px;

            border-style: solid;
            border-radius: 3px;
            border-width: 1px;
            border-color: $tooltip-border-color;

            background-color: $tooltip-background-color !important;
            background-image: none !important;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
        }
        
        .progress-bar-fill {
            display: inline-block;

            height: 3px;
            border-radius: 3px;

            background-color: $row_highlight_color;
            
            transition: width 1000ms linear, transform 1000ms linear;
            transform-origin: left;
        }

        .text_progress {
            margin-left: 1em;

            .pct {
                margin-left: 1em;
            }
        }
    }

/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* customize tooltips */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
    .tooltipstered:hover {
        color: $tooltip-primary-color;
        // cursor: crosshair;
        background-color: $tooltip-source-highlight-bg-color;//$gm_c_dark_gold;
        // border-style: solid;
        // border-radius: 4px;
        // border-width: 1px;
        // border-color: $tooltip-border-color;//lighten($gm_c_dark_gold, 10%);
    }
}

// vary font-size depending on table setting
@mixin tooltipFontSize($size) {
    .tooltipster-content {
        font-size: #{$size}rem !important;
        padding: #{$size*.375}rem #{$size*.75}rem !important;
    }

    .tooltipster-base {
        max-width: 300px * $size;
    }

    .tooltipster-sidetip.tooltipster-carm {
        .tooltipster-box {
            border-width: 2px * $size;
            border-radius: 0.6em * $size;
        }
    }
}
.tooltipster-carm__ {
    &font_smallest { @include tooltipFontSize($font_smallest); }
    &font_small { @include tooltipFontSize($font_small); }
    &font_normal { @include tooltipFontSize($font_normal); }
    &font_big { @include tooltipFontSize($font_big); }
    &font_biggest { @include tooltipFontSize($font_biggest); }
}

// tooltipster main theme
.tooltipster-sidetip.tooltipster-carm {
    .tooltipster-box {
        background: $tooltip-background-color;

        border-color: $tooltip-border-color;
        border-style: solid;
    }

    .tooltipster-content {
        color: $tooltip-primary-color;
        // padding: 0.5em 0.75em;

        // make sure we don't have any parent text effects applied here...
        font-weight: normal !important;
        text-decoration: none !important;
        font-style: normal !important;
        // font-family: $font-family-sans-serif !important;

        line-height: 1.1em;

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li {
                padding-left: 1rem;
                text-indent: -1rem;

                &:before {
                    content: '•';
                    padding-right: 0.5rem;
                }
            }
        }

        .adv, .disadv, .title {
            font-weight: bold;
            text-transform: lowercase;
            font-variant: small-caps;
            text-decoration: underline;
            font-size: 135%;
        }
        
        .adv {
            text-decoration-color: $gm_adv;
        }
        .disadv {
            text-decoration-color: $gm_disadv;
        }

        .title {
            color: $gm_c_bright_white;
        }
        .gmcarm_ {
            &normal {
                color: $gm_primary_font_color;
            }
            &highlight {
                color: $gm_c_bright_yellow;
            }
            &faded {
                color: $gm_c_silver;
            }
            &dark {
                color: $gm_c_bright_black;
            }
        }
    }

    .tooltipster-arrow {
        height: 9px;
        margin-left: -9px;
        width: 18px;
    }

    &.tooltipster-left .tooltipster-arrow,
    &.tooltipster-right .tooltipster-arrow {
        height: 18px;
        margin-left: 0;
        margin-top: -9px;
        width: 9px;
    }

    .tooltipster-arrow-background {
        border: 9px solid transparent;
    }

    &.tooltipster-bottom .tooltipster-arrow-background {
        border-bottom-color: $tooltip-border-color;
        top: 1px;
    }

    &.tooltipster-left .tooltipster-arrow-background {
        border-left-color: $tooltip-border-color;
        left: -1px;
    }

    &.tooltipster-right .tooltipster-arrow-background {
        border-right-color: $tooltip-border-color;
        left: 1px;
    }

    &.tooltipster-top .tooltipster-arrow-background {
        border-top-color: $tooltip-border-color;
        top: -1px;
    }

    .tooltipster-arrow-border {
        border: 9px solid transparent;
    }

    &.tooltipster-bottom .tooltipster-arrow-border {
        border-bottom-color: $tooltip-border-color;
    }

    &.tooltipster-left .tooltipster-arrow-border {
        border-left-color: $tooltip-border-color;
    }

    &.tooltipster-right .tooltipster-arrow-border {
        border-right-color: $tooltip-border-color;
    }

    &.tooltipster-top .tooltipster-arrow-border {
        border-top-color: $tooltip-border-color;
    }

    &.tooltipster-bottom .tooltipster-arrow-uncropped {
        top: -9px;
    }

    &.tooltipster-right .tooltipster-arrow-uncropped {
        left: -9px;
    }
}

// overrides for the site itself to reduce some of the damned glare
#site-main.gm-dark-mode,.gm-dark-mode {
    $fontcolor: whitesmoke;
    $bgcolor: #212529;

    background-color: $bgcolor;

    h1,
    .ddb-campaigns-detail-header-secondary-description p,
    .ddb-campaigns-detail-body-listing-header-primary,
    .ddb-campaigns-detail-body-listing-header-secondary,
    #content
    {
        color: $fontcolor !important;
    }

    .b-breadcrumb-a {
        background-color: lighten($bgcolor, 5) !important;
        .b-breadcrumb-item span {
            color: $fontcolor;
        }
    }
}

// hide scrollbar but allow scrolling
body.gm-no-scroll,.gm-no-scroll,html.gm-no-scroll {
    // overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;

        // safari
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}